@charset "utf-8";
/* CSS Document */
div.jumbotron {
  margin-bottom: 0px;
  width: 100%;
  height: 600px;
  background: #FFFFFF;
  background-image: url(../images/Banner.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-brand {
  font-size: 3.0rem;
}
